/* index.css or App.css */
:root {
  --primary-color: #046307; /* Dark Green */
  --secondary-color: #0A8A0A; /* Mid Green */
  --accent-color: #24A62B; /* Bright Green */
  --background-color: #E8F5E9; /* Light Green */
  --text-color: #ffffff; /* White */
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: 'Arial', sans-serif;
}

header {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 15px;
  text-align: center;
}

button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: var(--accent-color);
}
